# URL do seu GitLab (sem barra no final)
GITLAB_URL=https://lab.rerum.dev.br

# Personal Access Token com escopo: api
# GitLab > Perfil > Access Tokens > api
GITLAB_TOKEN=tfisk-yooH73rvRczCSy

# ID do projeto Frontend Angular
GITLAB_PROJECT_ID=133

# ID do projeto API .NET
GITLAB_API_PROJECT_ID=134
